<footer class="footer">
  <div class="display">
    <ul class="f-title"> <h4>Serve Aiuto?</h4>
      <li>Andrea - tel. 3478928129
        amministrazione.gent@gmail.com</li>
      <li>Sergio - tel. 3387301440
        s.galeazzi@retemyo.it</li>
      <li>Gianluca (web page) -
        gianluca.bombelli.work@gmail.com</li>
    </ul>
    <ul class="f-title"> <h4>Cosa facciamo?</h4>
      <li>GENT offre soluzioni  informatiche innovative per ottimizzare i tuoi tempi e il tuo business con prodotti di qualità, un ottimo servizio di assistenza tecnica e di noleggio operativo.
        Abbiamo anni di esperienza con clienti e fornitori per offrirti sempre nuove proposte e continuare a sviluppare eccellenti idee di comunicazione multimediale.
      </li>
    </ul>
    <ul class="f-title"> <h4>Ci trovi anche su...</h4>
      <li><i class="fa-brands fa-instagram"></i><a href="https://www.instagram.com/gent.tech/">@gent.tech</a></li>
    </ul>
  </div>
</footer>
