<head>
<script src="GENT-sito/src/assets/script.js" defer></script>
</head>
<body>
<section aria-label="flyers-carousel">
  <div class="carousel" data-carousel>
    <button class="carousel-b prev" (click)="prevSlide()"><i class="fa-solid fa-square-caret-left"></i></button>
    <button class="carousel-b next" (click)="nextSlide()"><i class="fa-solid fa-square-caret-right"></i></button>

    <ul data-slides>
      <li class="slide" *ngFor="let slide of slides; let i = index" [ngClass]="{'active': i === activeIndex}">
        <img [src]="slide.image" [alt]="slide.alt" class="animation">
      </li>
    </ul>

  </div>
</section>
</body>
