<div class="container">
  <h1 id="title">Toner e Cartucce</h1>
  <h3 id="sub-title">per fotocopiatori e stampanti</h3><h5><a routerLink="/toner/{{0}}">Esplora le possibilità...</a></h5>
  <div class="products">
    <div class="card">
      <a routerLink="/toner/0"><img src="assets/cartucce/cc364a.png" alt="image not load :("></a>
      <br>
      <h2 class="p-title"><a routerLink="/toner/0">HP 64A CC364A</a></h2>
    </div>
    <div class="card" id="destroy">
      <a routerLink="/toner/2"><img src="assets/cartucce/HP_81A.jpeg" alt="image not load :("></a>
      <br>
      <h2 class="p-title"><a routerLink="/toner/2">HP 81A CF281A</a></h2>
    </div>
    <div class="card">
      <a routerLink="/toner/1"><img src="assets/cartucce/hp_308.jpg" alt="image not load :("></a>
      <br>
      <h2 class="p-title"><a routerLink="/toner/1">HP 308A Q2670A</a></h2>
    </div>
  </div>
</div>
