<div class="container">
  <h1 id="title">Grafica e Personalizzazione</h1>
  <h3 id="sub-title">Ricami e Stampe</h3><h5><a routerLink="/grafica/0">Esplora le possibilità...</a></h5>
  <div class="products">
    <div class="card">
      <a routerLink="/grafica/0"><img src="assets/prodotti/volantino.png" alt="image not load :("></a>
      <br>
      <h2 class="p-title" ><a routerLink="/grafica/0">Volantini Invito</a></h2>
    </div>
    <div class="card">
      <a routerLink="/grafica/1"><img src="assets/prodotti/packaging.png" alt="image not load :("></a>
      <br>
      <h2 class="p-title"><a routerLink="/grafica/1">Packaging</a></h2>
    </div>
    <div class="card" id="destroy">
      <a routerLink="/grafica/2"><img src="assets/prodotti/gadget.png" alt="image not load :("></a>
      <br>
      <h2 class="p-title"><a routerLink="/grafica/2">Gadget</a></h2>
    </div>
  </div>
</div>
