<div class="container">
  <h1 id="title">Vendita e Noleggio</h1>
  <h3 id="sub-title">Assistenza tecnica informatica</h3><h5><a routerLink="/vendita/{{0}}">Esplora le posbbilità...</a></h5>
  <div class="products">
    <div class="card">
      <a routerLink="/vendita/0"><img src="assets/vendite/ASSO3.jpg" alt="image not load :("></a>
      <br>
      <h2 class="p-title"><a routerLink="/vendita/0">ASSO 3</a></h2>
    </div>
    <div class="card">
      <a routerLink="/vendita/1"><img src="assets/vendite/MX-B455W.png" alt="image not load :("></a>
      <br>
      <h2 class="p-title"><a routerLink="/vendita/1">MX-B455W</a></h2>
    </div>
    <div class="card" id="destroy">
      <a routerLink="/vendita/2"><img src="assets/vendite/TECNO-GAZ.JPG" alt="image not load :("></a>
      <br>
      <h2 class="p-title"><a routerLink="/vendita/2">TECNO-GAZ TECNOHEART PLUS</a></h2>
    </div>
  </div>
</div>
